//.popup__fade {
//	opacity: 0;
//	visibility: hidden;
//	transition: opacity 0.8s linear, visibility 0s linear 0.8s; /* Затримка для visibility */
//	position: relative;
//	overflow: hidden;
//	z-index: 9999;
//	&.open {
//		opacity: 1;
//		visibility: visible;
//		transition-delay: 0s;
//	}
//	&::before{
//		content: '';
//		background: #1E212C;
//		opacity: 0.75;
//		position: fixed;
//		left: 0;
//		top: 0;
//		width: 100%;
//		height: 100%;
//		z-index: 9999;
//	}
//}
//.popup__area {
//	position: absolute;
//	width: 100%;
//	height: 100%;
//	left: 0;
//	top: 0;
//
//}
//.popup {
//	position: fixed;
//	padding: rem(35);
//	background: #fff;
////	z-index: 99999;
//	border-radius: rem(15);
//	opacity: 1;
//	width: 100%;
//	@media (min-width:$mobile){
//		width: rem(497);
//		margin-left: rem(-245);
//		left: 50%;
//		@include adaptiveValue("top", 151, 50);
//		&_2 {
//			margin-left: rem(-170);
//			width: rem(345);
//		}
//		&_3 {
//			margin-left: rem(-160);
//			width: rem(301);
//		}
//		&_4 {
//			margin-left: rem(-150);
//			width: rem(277);
//		}
//	}
//	@media (max-width:$mobile){
//		height: 100%;
//	}
//	@media (min-width:$mobile){
//		@media (max-height: em(882)){
//			height: 67%;
//		}
//	}
//	@media (max-width:$mobileSmall) {
//		padding: rem(35) rem(10);
//	}
//	&_2 {
//		.popup__body {
//			height: rem(181);
//		}
//	}
//	&_3 {
//		.popup__body {
//			height: rem(268);
//		}
//	}
//	&_4 {
//		.popup__body {
//			height: rem(239);
//		}
//	}
//	&__body {
//		height: rem(506);
//	}
//	&__content {
//		display: flex;
//		flex-direction: column;
//		justify-content: center;
//		text-align: center;
//	}

//	&__text {
//		color: #0000008C;
//		line-height: 150%;
//		&:not(:last-child) {margin-bottom: em(24, 18);}
//		> a {
//			cursor: pointer;
//			color: $greenColor;
//			text-decoration: underline;
//		}
//	}
//}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 50;
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	&.fade-in {
		opacity: 1;
		visibility: visible;
	}
	&.fade-out {
		opacity: 0;
		visibility: hidden;
	}
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(15);
	}
	&__text {
		color: #0000008C;
		line-height: 150%;
		margin-bottom: em(24, 18);
		> a {
			cursor: pointer;
			color: $greenColor;
			text-decoration: underline;
		}
	}
	&__close {
		position: absolute;
		right: rem(38);
		top: rem(18);
		width: rem(16);
		height: rem(16);
		transition: all .1s ease-in;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
		&::before,
		&::after{
			position: absolute;
			left: 15px;
			content: ' ';
			height: 25px;
			width: 2px;
			background: #787A80;

		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);

		}
	}
}

.popup-content {
	position: relative;
	text-align: center;
	margin-top: rem(151);
	color: $blackColor;
	border-radius: rem(15);
	width: rem(497);
	padding: rem(35);
	background: #fff;
	@media (max-width:$mobileSmall) {
		padding: rem(35) rem(7);
		margin-left: rem(5);
		margin-right: rem(5);
	}
}