.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 50;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
	&.fade-in {
		animation: fade-in 0.2s ease-out forwards;
		opacity: 1;
		pointer-events: auto;
	}
	&.fade-out {
		animation: fade-out 0.2s ease-out forwards;
		opacity: 0;
		pointer-events: none;
	}
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(15);
	}
	&__text {
		color: #0000008C;
		line-height: 150%;
		margin-bottom: em(24, 18);
		max-width: rem(309);
		> a {
			cursor: pointer;
			color: $greenColor;
			text-decoration: underline;
		}
	}
	&__content {
		padding-top: rem(30);
	}
	&__close {
		position: absolute;
		right: rem(20);
		top: rem(10);
		width: rem(40);
		height: rem(40);
		transition: all .1s ease-in;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
		&::before,
		&::after{
			position: absolute;
			left: 15px;
			content: ' ';
			height: 25px;
			width: 2px;
			background: #787A80;

		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);

		}
	}
}

.popup-content {
	position: relative;
	text-align: center;
	margin-top: rem(151);
	color: $blackColor;
	border-radius: rem(15);
	max-width: rem(497);
	padding: rem(35);
	background: #fff;
	@media (max-width:$mobileSmall) {
		padding: rem(35) rem(7);
		margin-left: rem(5);
		margin-right: rem(5);
	}
	&.big {
		width: rem(490);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}






