@use "sass:math";
// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	border-radius: rem(10);
	border: rem(1) solid #00000040;
	padding: rem(20);
	&.active {
		.spollers__body  {
			height: auto;
			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
		.spollers__title  {
			> span > svg {
				transform: scale(1, -1);
			}
		}
	}
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	@include adaptiveValue("font-size", 20, 18);
	line-height: math.div(24.2 , 20);
	font-weight: 500;
	cursor: default;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(10);
	&:first-child {
		text-align: left;
	}
	> span svg {
		transition: all .4s linear;
	}
}
.spollers__body {
	color: #0000008C;
	text-align: left;
	height: 0;
	overflow: hidden;
	transition: all .5s linear;
	position: relative;
	p {
		padding-top: rem(15);
	}
	&::before {
		content:'';
		position: absolute;
		height: rem(1);
		width: 100%;
		background: $whiteColor;
		opacity: 0;
		visibility: hidden;
		transition: all .5s linear;
	}
}
