//@font-face{
//	font-family: bikham;
//	font-display: swap;
//	src: url("../fonts/") format("woff2"), url("../fonts/bikham-cyr-script_[allfont.woff") format("woff");
//	font-weight: 400;
//	font-style: normal;
//}
//@font-face{
//	font-family: Leto Text Sans Defect;
//	font-display: swap;
//	src: url("../fonts/Leto Text Sans Defect.woff2") format("woff2"), url("../fonts/Leto Text Sans Defect.woff") format("woff");
//	font-weight: 400;
//	font-style: normal;
//}

@font-face {
	font-family: SF PRO DISPLAY;
	font-display: swap;
	font-style: normal;
	src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype"), url("../fonts/SF-Pro-Display-Medium.otf") format("opentype"), url("../fonts/SF-Pro-Display-Bold.otf") format("opentype"), url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

