@use "sass:math";

.form-time {
  padding: rem(35) 0;
  display: flex;
  align-items: center;
  gap: rem(15);
  justify-content: center;
  &_code {
    justify-content: center;
    input {
      padding: rem(10) rem(9);
      text-transform: uppercase;
      font-weight: 500;
      width: rem(91);
      line-height: math.div(23.87 , 18);
    }
  }
  &__label {
    display: flex;
    align-items: center;
    gap: rem(10);
  }
  &__input {
    font-family: "SF PRO DISPLAY", sans-serif;
    outline: none;
    border-radius: rem(5);
    box-shadow: 0px 0px 20px 0px #00000040;
    width: rem(41);
    height: rem(41);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(6) 0 rem(10);
  }
}