@use "sass:math";

.pricing {
  &__container {
    max-width: rem(1500);
  }
  &__body {
    display: flex;
    justify-content: center;
    gap: rem(28);
    align-items: flex-start;
    flex-wrap: wrap;
    @media (max-width:em(1335)) {
      align-items: stretch;
    }
  }
}

.pricing-item {
  border: rem(1) solid #00000026;
  background: #FFFFFF;
  border-radius: rem(15);
  padding: rem(32) rem(34);
  color: $blackColor;
  position: relative;
  @media (max-width:em(1335)) {
    display: flex;
    flex-direction: column;
    .pricing-item__list {
      flex: 1 1 auto;
    }
  }
  &__info {
    padding-bottom: rem(15);
    border-bottom: rem(1) solid #D9D9D9
  }
  &__popular {
    position: absolute;
    top: rem(-20);
    left: 27%;
    background: $blackColor;
    padding: rem(10) rem(32);
    color: $whiteColor;
    font-size: rem(20);
    line-height: math.div(24.2 , 20);
    font-weight: 500;
    border-radius: rem(100);
    @media (max-width:em(400)) {
      left: 23%;
    }
    @media (max-width:em(350)) {
      left: 18%;
    }
  }
  &__title {
    font-size: rem(20);
    font-weight: 500;
    line-height: math.div(24.2 , 20);
    &:not(:last-child) {
        margin-bottom: rem(5);
     }
  }
  &__price {
    font-weight: 600;
    font-size: rem(32);
    line-height: math.div(38.78 , 32);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
  &__per {
    font-size: rem(15);
    line-height: math.div(18.15 , 15);
  }
  &__list {
    padding-top: rem(25);
    padding-bottom: rem(16);
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }
  &__point {
    list-style-type: "—";
    padding-left: rem(5);
  }
  &__button {
    text-align: center;
  }
}